/code/composer.lock
/code/vendor
/code/web/bundles/
/code/composer.phar
/code/app/config/parameters.yml
/code/var/*
!/code/var/cache
/code/var/cache/*
!/code/var/cache/.gitkeep
!/code/var/logs
/code/var/logs/*
!/code/var/logs/.gitkeep
!/code/var/sessions
/code/var/sessions/*
!/code/var/sessions/.gitkeep
!/code/var/SymfonyRequirements.php
/nbproject
/code/nbproject
/code/core
/code/**/*.php~
/code/**/*.cache
/code/composer.lock
/code/composer-cache
/code/.composer
/code/app/results.xml
/code/app/coverage.xml
#!/code/web/uploads
/code/web/uploads/**/*
!/code/web/uploads/.gitkeep
!/code/web/uploads/media
!/code/web/uploads/media/.gitkeep
/data/db/*
/data/configdb/*
